.bg-color {
  background-color: #c9dde2;
}
.CustomLink {
  color: #9f3b09;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}
.loginLink {
  color: #9f3b09;
  font-weight: 700px;
  font-size: 24px;
  text-decoration: none;
}
.logo {
  display: flex;
}
.span {
  font-size: 15px;
}

.signOut-Btn {
  color: #9f3b09;
  font-weight: 700px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  background-color: #c9dde2;
}
.user-name {
  color: #162e34;
  margin-top: 10px;
}
