.footer-container {
  background-color: #c1dae1;
}
.all-clumn {
  margin-top: 40px;
}
.all-clumn h4 {
  color: #9f3b09;
  font-weight: 700px;
}
.copyright {
  text-align: center;
  color: brown;
  font-weight: bold;
}
