.card {
  border: none;
  height: 300px;
  box-shadow: 0px 0px 5px rgb(221, 205, 205);
}

/* .order-btn {
  width: 100%;
  margin-top: 15px;
  border: none;
  height: 40px;
  color: aliceblue;
  font-size: 20px;
  font-weight: 700px;
  background-color: #ff824a;
  border-radius: 10px;
} */
.Link {
  text-decoration: none;
  position: relative;
  color: rgb(223, 228, 232);
  font-weight: 700px;
  margin-top: 30px;
  font-size: 20px;
  background-color: #e73b6d;
  padding: 10px 40px;
  border-radius: 10px;
}
